@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  /* font-size: 15px; */
}

body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
}

.card {
  background-color:hsl(244, 38%, 16%)
}

.accent {
  color: hsl(277, 64%, 61%);
}

.card h1 {
  color: hsl(0, 0%, 100%);
 font-family: 'Inter', sans-serif;
  font-weight: 700;
}

li {
  color: hsl(0, 0%, 100%);
}

.stats {
  color: hsla(0, 0%, 100%, 0.6);
}

.image-div {
  position: relative;
}

.image-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(168, 88, 218, 0.5);
}